.play-button-wrapper {
  display: flex;
  flex-direction: row;
  width: 80dvw;
  gap: 4dvw;
  align-items: center;
  justify-content: space-between;
}

.play-button-wrapper text {
  text-align: left;
}

.play-button {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 40dvw;
}

.play-button-active {
  width: 40%;
  height: 40%;
  border-radius: 50px;
  border: none;
  position: absolute;
}

.play-button-active-area {
  width: 62%;
  height: 62%;
  margin-top: 13%;
  border-radius: 100px;
  position: absolute;
}

.play-button-img {
  position: absolute;
}

@media (max-width: 600px) {
  .play-button-wrapper { flex-direction: column-reverse; }
  .play-button { width: 75dvw; }
}