.progress-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80dvw;
  gap: 2dvw;
}

.progress-bar {
  position: relative;
}

.custom-slider {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  background: #e71c67;
  width: 95%;
  height: 6px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #e71c67;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.custom-slider::-moz-range-thumb {
  background: #e71c67;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.custom-slider::-ms-thumb {
  background: #e71c67;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.custom-slider:hover {
  cursor: url('../../../assets/cursors/Pointer.png'), auto;
}

@media (max-width: 600px) {
  .progress-bar-wrapper { text-align: left; }
  .progress-bar { margin-top: 20px; flex-direction: column-reverse; }
}