.glass {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(20px);
  background-size: cover;
  background-position: center;
}

@media (prefers-color-scheme: dark) {
  .glass {
    background-image: url('../assets/Glass_Dark.png');
  }
}

@media (prefers-color-scheme: light) {
  .glass {
    background-image: url('../assets/Glass_Light.png');
  }
}