.name {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.letter {
  position: relative;
  margin: 0 10px;
  animation: float 3s ease-in-out infinite, bounce 4s ease-in-out infinite;
}

.letter:nth-child(1) {
  animation-delay: 0s, 0.2s;
}

.letter:nth-child(2) {
  animation-delay: 0.5s, 0.4s;
}

.letter:nth-child(3) {
  animation-delay: 0.2s, 0.6s;
}

.letter:nth-child(4) {
  animation-delay: 0.3s, 0.8s;
}

.letter:nth-child(5) {
  animation-delay: 0.4s, 1s;
}

.letter:nth-child(6) {
  animation-delay: 0.6s, 1.2s;
}

.letter img {
  width: auto;
  height: 200px;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
