.project-link {
  width: 44vw;
  height: auto;
  background-color: #000000;
  cursor: url('../../assets/cursors/Pointer.png'), auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 20px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.project-name {
  position: absolute;
  color: white;
  opacity: 0%;
}

.project-link:hover .thumbnail {
  opacity: 50%;
}

.project-link:hover .project-name {
  opacity: 100%;
}

@media (max-width: 960px) {
  .project-link {
    width: 80vw;
    height: auto;
  }
}
