.homepage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.text {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  margin: 20px;
  text-align: center;
}

.pronunciation {
  font-size: 1.5em;
  color: rgba(164, 110, 183, 0.7);
}

@media (prefers-color-scheme: dark) {
 .intro {
  color: rgb(235, 181, 255);
 }
}

@media (prefers-color-scheme: light) {
  .intro {
    color: rgb(122, 39, 152);
  }
}