.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.letters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.one {
  animation: one 6s ease-in-out infinite;
}

.two {
  animation: two 6s ease-in-out infinite;
}

.three {
  animation: three 6s ease-in-out infinite;
}

.letter:nth-child(1) {
  animation-delay: 0s, 0.2s;
}

.letter:nth-child(2) {
  animation-delay: 0.5s, 0.4s;
}

.letter:nth-child(3) {
  animation-delay: 0.2s, 0.6s;
}

.letter:nth-child(4) {
  animation-delay: 0.3s, 0.8s;
}

.letter:nth-child(5) {
  animation-delay: 0.4s, 1s;
}

.letter:nth-child(6) {
  animation-delay: 0.6s, 1.2s;
}

.letter img {
  height: 100%;
  width: auto;
}

.text {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  margin: 20px;
  text-align: center;
}

.pronunciation {
  font-size: 1.5em;
}

@keyframes one {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  75% {
    transform: translate(2px, 2px);
  }
}

@keyframes two {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2px, -2px);
  }
  75% {
    transform: translate(-2px, 2px);
  }
}

@keyframes three {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
}

@media (prefers-color-scheme: dark) {
  .intro {
   color: rgb(235, 181, 255);
  }
  .pronunciation {
    color: rgba(164, 110, 183, 0.7);
  }
}

 @media (prefers-color-scheme: light) {
  .intro {
    color: rgb(122, 39, 152);
  }
  .pronunciation {
    color: rgba(128, 63, 151, 0.7);
  }
}