.about {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bio-container {
  margin-top: 90px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 4dvw;
}

.headshot {
  width: 40dvw;
  height: auto;
  max-height: 75dvh;
  object-fit: contain;
}

.bio {
  display: flex;
  flex-direction: column;
  width: 40dvw;
}

.bio-text {
  font-family: 'Arial', sans-serif;
  text-align: left;
  margin-left: 15px;
  font-size: 1.45em;
}

.bio-after {
  width: 82dvw;
  margin-top: 20px;
  align-self: start;
  margin-left: 8dvw;
}

@media (prefers-color-scheme: dark) {
  .bio-text { color: rgb(250, 235, 255); }
}

@media (prefers-color-scheme: light) {
  .bio-text { color: rgb(60, 16, 77); }
}

@media (max-width: 1260px) {
  .bio-text { font-size: 1.73dvw; }
}

@media (max-width: 1050px) {
  .intro { font-size: 1.5em; }
  .pronunciation { font-size: 1.2em; }
}

@media (max-width: 1000px) {
  .headshot { width: 30dvw; }
  .bio { width: 50dvw; }
  .bio-container { justify-content: center; align-items: center; }
  .bio-text { margin: 0px; font-size: 1.2em; }
}

@media (max-width: 800px) {
  .intro { font-size: 1.25em; }
  .pronunciation { font-size: 1em; }
  .bio-after { align-self: center; margin-left: 0; }
}

@media (max-width: 750px) {
  .bio-container { flex-direction: column-reverse; align-items: center;}
  .headshot { width: 75dvw;}
  .bio { width: 80dvw; }
  .bio-text { font-size: 3dvw; }
  .bio-after { width: 74dvw; margin-left: 0px; }
  .intro { font-size: 2em; }
  .pronunciation { font-size: 1.5em; }
}
