.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}

.footer-link {
  padding: 5px;
  cursor: url('../../assets/cursors/Pointer.png'), auto;
  text-decoration: none;
  display: inline-block;
  user-select: none;
  pointer-events: all;
}

.footer-link:active,
.footer-link:focus,
.footer-link:hover {
  outline: none;
  cursor: url('../../assets/cursors/Pointer.png'), auto;
}

@media (prefers-color-scheme: dark) {
  .footer-link, .footer-divider { color: rgba(164, 110, 183, 0.7); }
}

@media (prefers-color-scheme: light) {
  .footer-link, .footer-divider { color: rgba(128, 63, 151, 0.7); }
}