.menu-button {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  cursor: url('../../assets/cursors/Pointer.png'), auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.menu-line {
  width: 40px;
  height: 4px;
  border-radius: 5px;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.menu-button.active .menu-line.higher {
  transform: rotate(-45deg) translateY(12px);
}

.menu-button.active .menu-line.middle {
  opacity: 0;
}

.menu-button.active .menu-line.lower {
  transform: rotate(45deg) translateY(-12px);
}

.menu-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1;
  height: 5px;
  width: 5px;
  top: 25px;
  right: 25px;
  background: none;
  border: none;
  border-radius: 50px;
  opacity: 0;
  background-color: rgba(100, 72, 100, 0.1);
  backdrop-filter: blur(5px);
  transition: transform 0.4s ease, width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
  z-index: 15;
}

.menu-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.6s ease;
}

.label {
  font-family: 'Arial', sans-serif;
  font-size: 0;
  font-weight: bold;
  text-align: center;
  transition: font-size 0.4s ease;
}

.menu-button.active .menu-item {
  height: 100px;
  width: 100px;
  opacity: 1;
  transform: scale(1);
  cursor: url('../../assets/cursors/Pointer.png'), auto;
}

.menu-button.active .label {
  font-size: 1.25em;
}

.menu-button.active .home-button {
  transform: translate(25px, 40px);
}

.menu-button.active .about-button {
  transform: translate(25px, 165px);
}

.menu-button.active .project-button {
  transform: translate(25px, 290px);
}

@media (prefers-color-scheme: dark) {
  .label { color: rgb(239, 195, 255); }
  .menu-line { background-color: rgb(188, 144, 204); }  
}

@media (prefers-color-scheme: light) {
  .label { color: rgb(88, 42, 105); }
  .menu-line { background-color: rgb(88, 42, 105); } 
}